@import url('https://fonts.googleapis.com/css?family=Signika:300,400');


* {
  font-family: 'Verdana', sans-serif;
}

h1 {
  font-size: 100px;
  font-size: 5vw;
  letter-spacing: -5px;
  line-height: 110%;
  position: fixed;
  top: 34%;
  left: 10%;
  opacity: 0.85;
  font-weight: 700;
  color: black;
}

h1 img {
  width: 7.6vw;
  transform: translateX(8%);
}

.animate {
  -webkit-animation: animate 1.2s cubic-bezier(.2, .6, .2, 1);
  -moz-animation: animate 1.2s cubic-bezier(.2, .6, .2, 1);
  animation: animate 1.2s cubic-bezier(.2, .6, .2, 1);
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(100%)
  }

  100% {
    -webkit-transform: translateY(0)
  }
}

@keyframes animate {
  0% {
    transform: translateY(100%)
  }

  100% {
    transform: translateY(0)
  }
}


.delay {
  -webkit-animation-delay: .3s;
  animation-delay: .3;
}

.delay2 {
  -webkit-animation-delay: .6s;
  animation-delay: .6;
}

.delay3 {
  -webkit-animation-delay: 1s;
  animation-delay: 1;
}

.artists {
  position: absolute;
  top: 100vh;
  left: 50%;
  right: 5%;
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.artists p {
  padding-top: 1rem;
}

.artists h4 {
  position: absolute;
  top: -12vh;
  font-weight: 300;
  font-size: 1.7rem;
  margin-left: 20rem;
}

.artists h4 a {
  text-decoration: none;
  color: #000;
  font-family: 'Signika';
}

.artist1,
.artist2,
.artist3,
.artist4 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.artist2,
.artist4 {
  justify-content: flex-end;
}

.artist1 a {
  width: 65%;
}

.artist1 a img {
  width: 100%;
}

.artist1 h2 {
  padding-left: 10px;
  width: 30%;
  font-size: 3.3vw;
  letter-spacing: -2px;
  margin: 0!important;
}

.artist1 p {
  width: 80%;
  line-height: 1.7vw;
  letter-spacing: 1px;
  font-size: 1.2vw;
  margin-bottom: 15vh;
}

.artist2 a {
  width: 60%;
}

.artist2 a img {
  width: 100%;
}

.artist2 h2 {
  text-align: right;
  padding-right: 10px;
  width: 30%;
  font-size: 3.3vw;
  letter-spacing: -2px;
  margin: 0!important;
}

.artist2 p {
  text-align: right;
  margin-left: 13%;
  width: 80%;
  line-height: 1.7vw;
  letter-spacing: 1px;
  font-size: 1.2vw;
  margin-bottom: 15vh;
}

.artist3 a {
  width: 65%;
}

.artist3 a img {
  width: 100%;
}

.artist3 h2 {
  padding-left: 10px;
  width: 30%;
  font-size: 3.3vw;
  letter-spacing: -2px;
  margin: 0!important;
}

.artist3 p {
  width: 80%;
  line-height: 1.7vw;
  letter-spacing: 1px;
  font-size: 1.2vw;
  margin-bottom: 15vh;
}

.artist4 a {
  width: 60%;
}

.artist4 a img {
  width: 100%;
}

.artist4 h2 {
  text-align: right;
  padding-right: 10px;
  width: 30%;
  font-size: 3.3vw;
  letter-spacing: -2px;
  margin: 0!important;
}

.artist4 p {
  text-align: right;
  margin-left: 13%;
  width: 80%;
  line-height: 1.7vw;
  letter-spacing: 1px;
  font-size: 1.2vw;
  margin-bottom: 15vh;
}

.carousel {
  width: 80%;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  /* background-color: rgb(167, 167, 167); */
}

.carousel h2 {
  text-align: center;
  font-size: 3vw;
  opacity: 0.5;
  padding-bottom: 1.5rem;
}

.carousel-item {
  background-color: rgb(167, 167, 167);
  height: 400px;
  border:  rgb(167, 167, 167);
}

.carousel-item img {
  height: 150px;
  margin: 0 auto;
  padding-top: 4rem;
}


/* Music Player */
.music-player {
  padding: 50px 6vh 75px 6vh;
}

.player {
  padding-top: 2vh;
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #000000;
  padding-top: 6vh;
}

.footer h2,
.music-player h2 {
  text-align: center;
  width: 80%;
  font-size: 3vw;
  opacity: 0.4;
  margin: 0 auto;
}

.footer .contact-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  padding: 2vh;
  padding-bottom: 0;
}

.first-name {
  width: 45%;
  margin-bottom: 5vh;
  opacity: 0.4;
}

.email {
  width: 45%;
  margin-bottom: 5vh;
  opacity: 0.4;
}

.message {
  width: 100%;
  opacity: 0.4;
}

.first-name,
.email,
.message {
  padding: 1vh;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px #000000;
  font-size: 1.2vw;
  transition: 0.3s;
}

.btn {
  margin: 5vh auto;
  margin-top: 2vh;
  margin-bottom: 10vh;
  padding: 1.5vh 2.5vh;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 1rem;
  background-color: transparent;
  opacity: 0.4;
  transition: 0.3s;
}

.contact-form .first-name:hover, .first-name:active,
.contact-form .email:hover, .email:active,
.contact-form .message:hover, .message:active,
.btn:hover {
  opacity: 0.9;
  transition: 0.3s;
}

.socials {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100px;
  padding: 2vh;
  padding-top: 0;
  margin: 0 auto;
}

.socials ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
  list-style: none;
  padding: 0;
}

.sci .fa-facebook {
  text-align: center;
  width: 45px;
}

.sci a {
  color: #000000;
  opacity: 0.4;
  transition: 0.3s;
}

.sci a:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.minutiae {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 2vh;
  margin: 0 auto;
}

.minutiae h5 {
  color: #00000090;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 0;
  margin: 3px;
  font-size: 1.5vh;
  transition: 0.3s;
}

.minutiae h5 a {
  text-decoration: none;
  color: #00000090;
  transition: 0.3s;
}

.minutiae h5 a:hover {
  text-decoration: underline;
  color: #000000BF;
  transition: 0.3s;
}

.grecaptcha-badge {
  display: none;
}

#recaptcha-disclaimer {
  display: block;
  font-size: .4rem;
  width: 100%;
  padding: 1rem 0 0 0;
  margin: 0 auto;
  text-align: center;
  color: white;
  transition: 0.3s;
}

.first-name:hover ~ #recaptcha-disclaimer { color: black; }
.email:hover ~ #recaptcha-disclaimer { color: black; }
.message:hover ~ #recaptcha-disclaimer { color: black; }
.first-name:focus ~ #recaptcha-disclaimer { color: black; }
.email:focus ~ #recaptcha-disclaimer { color: black; }
.message:focus ~ #recaptcha-disclaimer { color: black; }



@media only screen and (max-width: 667px) {
  h1 {
    font-size: 14vw;
    top: 10%;
  }

  h1 img {
    width: 20vw;
  }

  .artists {
    left: 0;
    right: 0;
    background: #fff;
    padding: 5%;
  }

  .artists h4 {
    margin-left: 0;
    top: -6%;
    left: 55%;
  }

  .artists h2 {
    font-size: 7vw;
  }

  .artists p {
    width: 100%;
    font-size: 4vw;
    line-height: 5vw;
  }

  .carousel {
    width: 100%;
  }

  .footer {
    margin: 0;
  }

  .footer h2 {
    width: 100%;
    font-size: 2rem;
  }

  .footer .contact-form {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  

  .first-name,
  .email,
  .message {
    font-size: 12px;
  }

  .socials {
    width: 100%;
    padding: 0;
  }

  .socials ul {
    width: 80%;
  }

  .minutiae {
    width: 100%;
    padding: 0;
  }

  .minutiae h5 {
    letter-spacing: 0;
    font-size: 1.8vh;
  }
}

